pydantic
numpy
opencv-python
opencv-contrib-python
pandas
pre-commit
pylint
mypy
flake8
tqdm
matplotlib
black
types-PyYAML
scipy
ultralytics
openai
instructor==0.4.2
sentence-transformers
pyarrow
fastparquet
